Syslog                  yes
SyslogSuccess           yes

Canonicalization        relaxed/simple

Domain                  {{ .Env.JMAIL_ORIGIN }}

# Change domain to `s` as there's no inbound email to verify.
Mode                    s
SubDomains              no

# Map domains in From addresses to keys used to sign message.
KeyTable                refile:/etc/opendkim/key.table
SigningTable            refile:/etc/opendkim/signing.table

Socket                  inet:8892@localhost
ReportAddress           postmaster@{{ .Env.JMAIL_ORIGIN }}
SendReports             yes
InternalHosts           refile:/etc/opendkim/trusted.hosts
UserID                  root:root
